@import 'variables';
@import 'bootstrap-navbar';

html {
  position: relative;
  min-height: 100%;
}

label {
  color: white;
}

.input-field label {
  color: white;
}

.btn {
  background-color: #F7931D;
  padding: 0px 75px;
  height: 50px;
  line-height: 50px;
}

.homepage {
  color: white;
}

body {
  font-family: $main-font;
  margin-bottom: $footer-height;
  background-color: #ED1E91;
}

.about h3 {
  text-align: center;
  margin: 2em;
}

.home {
  text-align: center;
}

.image-container {
  width: 80%;
  max-width: 400px;
  margin: 4em auto;

  img {
    width: 100%;
  }
}





// card formating
.card-action {
  text-align: center;
  a {
    p {
      -webkit-margin-before: 0em;
      -webkit-margin-after: 0em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
    }
    .not-interested {
      color: red;
    }
    .accept-challenge {
      color: green
    }
  }
}

.not-interested {
  color: red;
}
.accept-challenge {
  color: green
}

a {
  .not-interested {
    color: red;
  }
  .accept-challenge {
    color: green
  }
}

.card .card-content p {
    // margin: 0;
}

// .answer-box {
//   display: inline-block;
// }
.card .card-image img {
  opacity: 0.6;
}
.card-image {
  background-color: black;
}
// .card .card-image .card-title {
//     font-size: 3em;
//     font-weight: 300;
// }
// .card-list {
//   margin: 20% 0;
// }

a {
  color: orange;
}
.decision-buttons {
  text-align: center;
  img {
    width: 10%;
  }
}

.goal-container {
  margin-top: 30px;
  .card-panel {
    padding: 10px;
    display: flex;
    label {
      color: black;
      font-size: 18px;
    }
    .level {
      img {
        width: 50px;
        margin: 10px 10px 10px 0;
      }
    }
    .goal {
      margin-bottom: 15px;
    }
    .goal-img {
      img {
        width: 80%;
        min-width: 200px;
        margin-left: -25px;
      }
    }
  }
}

// sign up Css

.collapsible-header {
    display: block;
    cursor: pointer;
    min-height: 3rem;
    line-height: 3rem;
    padding: 0 1rem;
    background-color: #F7931D;
    border-bottom: 1px solid #F7931D;
    color: white;
}
